@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 213 60% 94%;
    --primary-light: 213 60% 97%;
    --secondary: 33 42% 58%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
  }
}

@layer base {
  body {
    @apply h-screen bg-background;
  }
}
